h2 {
    margin: 0;
    display: inline-block;
}

.buttons {
    margin: 0;
    display: inline-block;
}

.buttons button {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.map {
    border: 2px red solid;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 0.67;
    background-size: contain;
    background-repeat: no-repeat;
}

.plotted-image {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
}