h2 {
    margin: 0;
    display: inline-block;
    font-family: 'Helvetica', serif;
}

.buttons {
    margin: 0;
    display: inline-block;
    align-items: center;
    align-content: center;
}

.buttons button {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.map {
    border: 1px black solid;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 0.67;
    background-size: contain;
    background-repeat: no-repeat;
}

.plotted-image {
    position: absolute;
    width: 1.2%;
    height: 1.92%;
}

.titleButtonDiv {
    padding: 3px;
    align-content: center;
    align-items: center;
    display: inline-block;
}

